# Node.js / Expo
node_modules/
dist/
build/
.expo/
web-build/
expo-env.d.ts

# Native / mobile keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro / debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
*.pem

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Visual Studio / VSCode temporary files
.vs/
*.vsidx
*.user
*.suo
.vscode/

# Build results
bin/
obj/
out/

# Logs
*.log

# Database / cache
*.db
*.sqlite
*.db-wal
*.db-shm
*.cache
*.g.cs
*.Generated*
*.AssemblyInfoInputs.cache

# Python virtual environment
.venv/
